.app.dark {
  --bg-color: #1A1B1D;
  --inverted-bg-color: #ffffff;

  --primary-color: #FFFFFF;
  --secondary-color: #727478;

  --inverted-primary-color: #5A5A5A;
  --inverted-secondary-color: #727478;
}