.app.light {
  --bg-color: #ffffff;
  --inverted-bg-color: #1A1B1D;

  --primary-color: #5A5A5A;
  --secondary-color: #727478;

  --inverted-primary-color: #FFFFFF;
  --inverted-secondary-color: #727478;
}